*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgba(255,247,223,1);
    
}

.all{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.imgtop{
    width: 291px;
    height: 128px;
}
.footerimg{
    margin-top: auto;
}
.imgf{
    width: 100%;
}
.formBx{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 70%;
}
.input{
    height: 45px;
    border-radius: 50px;
    border: none;
    padding: 0 15px;
    width: 80%;
    margin: 0 auto;
    color: #000000;
    outline: none;
}
.inputdiv{
    margin-top: 5%;
}
.text{
    font-size: 15px;
    margin-left: 15px;
}
::placeholder{
    
    font-size: 15px;
}
h3{
    font-family: Quattrocento;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 20px;
    color: #FFB301;
    letter-spacing: 1px;
}
.signbtn{
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    border: 0;
    color: #fff;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    height: 45px;
}
.signbtn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(253.58deg, #FFC000 15%, #FF8A00 70.8%);
}

.remember{
    display: flex;
    margin-top: 3%;
    margin-bottom: 10px;
    color: #5C5C5C ;
    font-weight: 400;
    font-size: 14px;
}
.remember label{
    display: flex;
    width: 100%;
}
.no-account{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-top: 2%;
}
.no-account a{
    margin-left: 5px;
    color: #FF8A00;
    text-decoration: none;
}
.no-account a:hover{
    text-decoration: underline;
}
@media (orientation:portrait) and (max-width:1100px ) {
    ::placeholder{
        text-align: left;
        font-size: 20px;
    }
    .text{
        font-size: 30px;
    }
    .input{
        height: 65px;
    }
    #check{
        transform:scale(2);
        margin-top: 9px;
        margin-left: 9px;
    }
    .no-account{
        font-size: 20px;
    }
    .remember p{
        margin-left: 20px;
    }
    .remember label{
        display: flex;
        font-size: 25px;
    }
    .formBx{
        width: 80%;
        margin-top: 10%;
    }
}
@media (max-width:610px) {
    .formBx{
        width: 70%;
    }
}
@media (max-width:460px) {
    .formBx{
        width: 90%;
    }
}

